@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./ui.scss";
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3% 8%;
	.logo {
		width: 285px;
		cursor: pointer;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		list-style: none;
		column-gap: 30px;
		margin-right: 60px;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 25px;

		li {
			cursor: pointer;
			ul {
				a {
					text-decoration: none;
					list-style: none;
					color: #333333;
				}
			}
		}
	}
	.none {
		list-style: none ;
		text-decoration: none;

		.login {
			width: 160px;
			height: 40px;
			border: none;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			background-color: $color-orange;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			list-style: none;
			cursor: pointer;
			.search {
				width: 18px;
			}
		};
	};
}
