
$color-32: #6F737C;
$color-black: #333333;
$color-orange: #FFDA3A;
$xl: 20px;
$lg: 18px;
* {
    font-family: 'Source Serif Pro' !important;
}


body {
    font-family: 'Source Serif Pro';
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

